        <div data-role="page" id="page1a">
            <div data-role="content" style="padding: 15px">
                <h3>
                    Что именно Вас не устроило в обслуживани?
                </h3>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="vertical">
                        <legend>
                            Выберите нужные варианты:
                        </legend>
                        <input name="checkbox1" id="checkbox1" type="checkbox" />
                        <label for="checkbox1">
                            Отношение продавца-консультанта
                        </label>
                        <input name="checkbox2" id="checkbox2" type="checkbox" />
                        <label for="checkbox2">
                            Качество обслуживания кассира
                        </label>
                        <input name="checkbox3" id="checkbox3" type="checkbox" />
                        <label for="checkbox3">
                            Охрана
                        </label>
                        <input name="checkbox4" id="checkbox4" type="checkbox" />
                        <label for="checkbox4">
                            Сотрудник банка
                        </label>
                        <input name="checkbox5" id="checkbox5" type="checkbox" />
                        <label for="checkbox5">
                            Старший продавец
                        </label>
                        <input name="checkbox6" id="checkbox6" type="checkbox" />
                        <label for="checkbox6">
                            Товаровед
                        </label>
                    </fieldset>
                </div>
                <a data-role="button" data-inline="true" data-transition="fade" href="#page1">
                    Назад
                </a>
                <a data-role="button" data-inline="true" data-transition="fade" href="#page2">
                    Вперед
                </a>             
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>
