        <div data-role="page" id="page4a">
            <div data-role="content" style="padding: 15px">
                <h3>Как часто Вы уходите из нашего магазина с покупкой?</h3>
                <div data-role="fieldcontain">
				   <fieldset data-role="controlgroup">				    	
			         	<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" />
			         	<label for="radio-choice-1">Всегда</label>
			
			         	<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
			         	<label for="radio-choice-2">Иногда</label>
			         	
			         	<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
			         	<label for="radio-choice-3">Изредка</label>
				    </fieldset>
                </div>
                <a data-role="button" data-inline="true" data-transition="fade" href="#page4">
                    Назад
                </a>
                <a data-role="button" data-inline="true" data-transition="fade" href="#page5">
                    Вперед
                </a>              
            </div>
        </div>
