        <div data-role="page" id="page4">
            <div data-role="content" style="padding: 15px">
                <h3>Часто ли Вы посещаете магазин Ист-Нова?</h3>
                <div data-role="fieldcontain">
				   <fieldset data-role="controlgroup">				    	
			         	<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" />
			         	<label for="radio-choice-1">Постоянный клиент</label>
			
			         	<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
			         	<label for="radio-choice-2">Часто</label>
			
			         	<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
			         	<label for="radio-choice-3">Изредка</label>
			
			         	<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
			         	<label for="radio-choice-4">Впервые</label>
		         	
				    </fieldset>
                </div>
                <a data-role="button" data-inline="true" data-transition="fade" href="#page3">
                    Назад
                </a>
                <a data-role="button" data-inline="true" data-transition="fade" href="#page4a">
                    Вперед
                </a>            
            </div>
        </div>
