        <div data-role="page" id="page5">
            <div data-role="content" style="padding: 15px">
                <h3>Как Вы оцениваете разнообразие моделей и размерного ряда представленного в магазине Ист-Нова товара?</h3>
                <div data-role="fieldcontain">
				   <fieldset data-role="controlgroup">				    	
			         	<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" />
			         	<label for="radio-choice-1">Отличный выбор</label>
			
			         	<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
			         	<label for="radio-choice-2">Неплохой ассортимент</label>
			
			         	<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
			         	<label for="radio-choice-3">Бывало лучше</label>
			
			         	<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
			         	<label for="radio-choice-4">В других магазинах лучше (больше)</label>
		         	
				    </fieldset>
                </div>
                <a data-role="button" data-inline="true" data-transition="fade" href="#page4a">
                    Назад
                </a>
                <a data-role="button" data-inline="true" data-transition="fade" href="#page6">
                    Вперед
                </a>               
            </div>
        </div>

