        <div data-role="page" id="page7">
            <div data-role="content" style="padding: 15px">
                <h3>Что Вы думаете о ценах на товар в магазине Ист-Нова?</h3>
                <div data-role="fieldcontain">
				   <fieldset data-role="controlgroup">				    	
			         	<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" />
			         	<label for="radio-choice-1">Дешевые</label>
			
			         	<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
			         	<label for="radio-choice-2">Приемлемые</label>
			
			         	<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
			         	<label for="radio-choice-3">Дорогие</label>
			
			         	<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
			         	<label for="radio-choice-4">Неоправданно высокие</label>
		         	
				    </fieldset>
                </div>
                <a data-role="button" data-inline="true" data-transition="fade" href="#page6">
                    Назад
                </a>
                <a data-role="button" data-inline="true" data-transition="fade" href="#page8">
                    Вперед
                </a>             
            </div>
        </div>

