{% include "templates/header.html" %}
	
	
            <div data-role="content" style="padding: 15px">
                <h3>Спасибо за Ваш отзыв</h3>
                
                <h3>Ваше мнение очень важно для нас.</h3>
                <div data-role="fieldcontain">
				  
				  			  
                    <a data-role="button" data-inline="false" data-icon="forward" data-transition="fade"
				        href="/vote/1001/">Начать сначала              
                </a>	
			
				  
                </div>               
            </div>
            
{% include "templates/footer.html" %}
