<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <title>
        </title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="static/my.css" />
        <style>
            /* App custom styles */
        </style>
        

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js">
        </script>
        <script src="static/my.js">
        </script>
        
        

    </head>
    <body>
        <!-- Home -->




    
    <form action="form.php" method="post" data-role="page" id="page-1" data-theme="c">
            <div data-role="header">
        		<h1>Опрос Ист-Нова</h1>
		        <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">На главную</a>
	            
		        <a href="{{ logout_url }}" data-icon="arrow-l" data-rel="button">Выйти</a>
		            
	        </div><!-- /header -->
	
	
            <div data-role="content" style="padding: 15px">
                <h3>Пожалуйста ответьте на неколько вопросов</h3>
                <h3>Нам очень важно знать Ваше мнение</h3>
                <div data-role="fieldcontain">
				   <fieldset data-role="controlgroup">		
				   
				   <a data-role="button" data-inline="true" data-icon="forward" data-transition="fade"
				        href="#page-{{ first }}">
                    Начать опрос
                </a>	
				   
				   </fieldset>			
				   
                </div>               
            </div>
            
    </form>
    
    
        
   
        
    {% for question in all_questions %}
        <form action="/vote" method="post"  data-role="page" id="page-{{ question.id }}">
            <div data-role="header">
        		<h1>Опрос Ист-Нова</h1>
		        <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">На главную</a>	            
	        </div>
	        
            <div data-role="content" style="padding: 15px">
                <h3>{{ question.name }}</h3>
                <div data-role="fieldcontain">
				   <fieldset data-role="controlgroup">			
				   
				   
				   {% if question.multiple %}
				   
				   
				        <h4>Выберите нужные варианты:</h4>
        
                        
				      {% for answer in question.answers %}
				       	
			         	<input name="answer[]"  id="checkbox-{{ answer.id }}" type="checkbox" value="{{ answer.id }}" {% if loop.first %} {% endif %}/> 
			         	<label for="checkbox-{{ answer.id }}">{{ answer.name }}</label>
			         	
			          {% endfor %}                        
                        
                        
                   {% else %}
                        
                        	
				   
				      {% for answer in question.answers %}
				       	
			         	<input type="radio" name="answer[]" required="required" id="answer-{{ answer.id }}" value="{{ answer.id }}" />
			         	<label for="answer-{{ answer.id }}">{{ answer.name }}</label>
			         	
			          {% endfor %}
			          
			       {% endif %}
			          	
						         	
				    </fieldset>
                </div>
                
                {% if not loop.first %}
                <a data-role="button" data-inline="true" data-icon="back" data-transition="fade" href="#page-{{ question.prev }}">
                    Назад
                </a>
                {% endif %}
                
                                       
                      
                {% if not loop.last %}
               <!--  <a data-role="button" data-inline="true" data-icon="forward" data-transition="fade" href="#page-{{ question.next }}">
                    Вперед
                </a>  -->
                
                
               
                    <a data-role="button" data-inline="true"  data-icon="forward" data-transition="fade" href="#page-{{ question.next }}">Вперед</a>
                {% else %}
                
                 <a data-role="button" data-inline="true"  data-icon="forward" data-transition="fade" id="ttt">Вперед555</a>
                 
                 
                 <button type="submit" data-inline="true" data-icon="forward" data-transition="fade" data-theme="b" name="submit" value="#page-{{ question.next }}">Отправить</button>     
                {% endif %}
                

            </div>
            
            
        </form>
    {% endfor %}
          
       
        <script>
        
        
        $(function() {
        	
        	
        	$( "#page-1001" ).bind( 'pagebeforechange',function(event){
	            
        		console.log('hello4');
          	  
        	});
        	
        	$( '#ttt' ).live( 'click' ,function(event){
        	
        	
        	    console.log('hello5');
          	  
	            
	            $("form").submit();
          	  
        	});
        	
        	/*$("form").submit(function () { return false; });*/ // so it won't submit
        	
        });
        
        
        
        $(document).bind( 'pagebeforechange',function(event){
        	
        	console.log($( 'form'));
/*        	          	  
        	  $("input[type='checkbox']").prop("checked",false).checkboxradio("refresh");        	  

        	  $("input[type='radio']").prop("checked",false).checkboxradio("refresh");
        	  */
        	});
      
        /*
            $("#changePageButton").click(function() {
                $.mobile.changePage("#page2");
            });        
        */  
            /*$(document).bind("pagebeforechange", function ( event , data ) {
            $('#page-1001').bind( "pagebeforechange", function( e, data ) { 
                console.log(data.options.fromPage.attr('data-url'));
            });
            
            */
            
            

        
        window.addEventListener('load', function(e) {
        	setTimeout(function() { window.scrollTo(0,1); }, 1);
        }, false);
        
        
        //App custom javascript
        </script>
    </body>
</html>
