{% include "templates/header.html" %}
	
	
            <div data-role="content" style="padding: 15px">
                <h3>Пожалуйста ответьте на неcколько вопросов</h3>
                <h3>Нам очень важно знать Ваше мнение</h3>
                <div data-role="fieldcontain">
				   <fieldset data-role="controlgroup">		
				   
				   <a data-role="button" data-inline="true" data-icon="forward" data-transition="fade"
				        href="/vote/1001/">
                    Начать опрос
                </a>	
				   
				   </fieldset>			
				   
                </div>               
            </div>
            
{% include "templates/footer.html" %}
