{% include "templates/header.html" %}
	
   
    
            
            <div data-role="content" style="padding: 15px">
                
                			
				   
				<form action="/vote/{{ question.id }}/" method="post" data-ajax="true" data-theme="c">   
		        
		       
		       	<fieldset>
					<div data-role="fieldcontain">	
		       
		       <h3>{{ question.name }}</h3>	   
		
		
		           <input type="hidden" id="q_id" name="q_id" value="{{ question.id }}" />		        			 		        			 
		       
				   {% if question.multiple %}
		
				   				   
				     <h4>Выберите нужные варианты:</h4>                
                        
				      {% for answer in answers %}
				       	
			         	<input name="answer[]" id="checkbox-{{ answer.id }}" type="checkbox" value="{{ answer.id }}" {% if loop.first %} {% endif %}/> 
			         	<label for="checkbox-{{ answer.id }}">{{ answer.name }}</label>
			         	
			          {% endfor %}                        
                                                
                   {% else %}                                                
				   
				      {% for answer in answers %}
				       	
			         	<input type="radio" name="answer[]" id="answer-{{ answer.id }}" value="{{ answer.id }}" />
			         	<label for="answer-{{ answer.id }}">{{ answer.name }}</label>
			         	
			          {% endfor %}
			          
			       {% endif %}
			          	
			 </div>			
                
               {% if question.id == "1001" %}
                <a data-role="button" data-inline="true" data-icon="home" data-transition="fade" href="/">
                    На Главную
                </a>
               {% else %}
                <a data-role="button" data-inline="true" data-icon="back" data-transition="fade" href="/vote/{{ prev_id }}/">
                    Назад
                </a>                
               {% endif %}               
                
                
                {% if question.id == "1009" %}
                 <button type="submit" data-inline="true" data-icon="check" data-theme="b" name="submit" value="submit-value">Отправить</button> 
                {% else %}
                 <button type="submit" data-inline="true" data-icon="forward" data-theme="b" name="submit" value="submit-value">Вперед</button> 
                {% endif %}
                
             

              </fieldset>
			
          </form>
          </div>            
                
{% include "templates/footer.html" %}
