{% include "templates/header.html" %}
        
 
	
            <div data-role="content" style="padding: 15px">
                <h3>Статистика {{ stat_user.name }}</h3>
                <div data-role="fieldcontain">
				  
				  
				  {% for item in all_questions %}				  
				  <div id="chart_div_{{ item.id }}" style="height: 400px;"></div>
				  
				 {% endfor %}
				  
                </div>               
            </div>
            

    
    
          
       
{% include "templates/footer.html" %}
